*{
  box-sizing: border-box;
}

.wrapper{
  font-family: 'Roboto', sans-serif;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

a{
  text-decoration: none;
  display: block;
}

.header{
  text-align: left;
  margin-top: 63px;
  margin-bottom: 40px;
}

.logo{
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: aqua;
}

.header:hover{
  text-decoration: underline;
}

.logo-ra{
  color: #000000;
}


.nav-ramda{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444F;
  margin-bottom: 48px;
}

.nav-ramda li {
  border: 1px solid white;
}

.nav-ramda a{
  font-size: 24px;
  line-height: 28px;
  color: white;
  padding: 25px 20px 20px 30px;
}

.r-ramda:hover{
  background-color: #222F3A;;
}

.main-side-container{
  display: flex;
  flex-direction: row;
}

.sidebar-ramda{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 400px;
  flex-basis: 350px;
  margin-right: 62px;
}


.side-ramda a{
  font-size: 27px;
  line-height: 27px;
  padding: 26px 40px 25px 40px;
  text-align: left;
  color: #485863;
}

.wr-ramda:hover{
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: #DBDBDB;
}

.main-ramda{
  flex-basis: 885px;
}


.img-ramda{
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 75px;
  text-align: center;
  margin-bottom: 34px;
}

img{
  transition: transform 0.5s;
}

img:hover{
  transform: scale(1.1);
}

.text-ramda{
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 54px;
}

.footer-ramda{
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
}

.foot-nav-ramda{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
  line-height: 28px;
}

.foot-nav-ramda li {
  padding: 25px 20px 20px 30px;
}

.foot-nav-ramda a {
  color: #0C1927;
  font-size: 28px;
  line-height: 28px;
}

.wr-f-ramda:hover{
  color: aquamarine;
  line-height: 20px;
  text-decoration: underline;
}

.year-ramda{
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding-right: 40px;
  padding-top: 28px;
}

